body{
    background-color:wheat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction:column;
    line-height: 10px;
}
li {
    display: inline-block;
    flex-direction: row;
    margin: 20px;

}
a{
    color: black;
}
a:hover{
    color: rgb(132,14,201);
    transition: 0.3s all;
}
h1 {
    font-weight: 200;
}

#btn{
    border-radius: 20px;
    border: 2px solid rgb(132,14,201);
    padding: 15px;
    
}
#btn:hover{
    background-color: rgb(132,14,201);
    color: white;
    
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: rgb(132,14,201);
}
p {
    line-height: 25px;
    max-width: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 1200px;
}
form{
    display: flex;
    flex-direction: column;
    width: 45%;
}
form[type="submit"]{
    height: 50px;
    width: 45%;
    font-weight: bold;
    
 }
form[type="submit"]:hover{
 cursor:pointer;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}